<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Rooms</title>
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<!--
This page should display available rooms (idk how im formatting that and honestly I'm a little peeved that I have the hard job here)
-->
<body>
    <h1>Available Rooms</h1>
    <form action="/index">
        <button type="submit">Return to Homepage </button>
    </form>
</body>
</html>